################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomerReviews.Core/bin/Debug
/.vs
/CustomerReviews.Core/obj/Debug
/CustomerReviews.Data/bin/Debug
/CustomerReviews.Data/obj/Debug
/CustomerReviews.Web/bin
/CustomerReviews.Web/obj/Debug
/packages
